 body {
    overflow-x: hidden;
 }

.main_app .hero_banner {
   margin-left: -15px;
}
  .submit_btn {
    background-color: #ec6608;
    border: 1px solid #ec6608;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    padding: 5px 10px;
    width: auto !important;
  }
    
  .main_heading {
    color: #ec6608;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .sub_heading {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  .instruction, .image_sub_heading {
    font-weight: 600;
  }
  
  input::placeholder {
    color: #000000 !important;
  }
  
  .login_img, .reg_img {
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
  
  input.custom_input {
    border-radius: 0 !important;
    background-color: #ededed;
    height: 32px;
    padding: 0 .75rem;
    line-height: 32px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .img_conatiner {
    height: 100vh;
  }
  
  .register_text-block {
    position: absolute;
    top: 150px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  
  .login_text-block {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:70px;
    padding-left: 60px;
    margin-bottom: 20px;
  }
  

  .inline_checkbox {
      margin: 4px 5px 0 0;
  }

  .checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
  }

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
   display: flex;
   align-items: center;
   margin: 0 5px;
   font-size: 14px;
   font-weight: 600;
}
.custom-radio-buttons {
   height: 32px;
   margin-bottom: 12px;
}
.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    text-align: center;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #000;
    font-size: 10px;
    line-height: 15px;
}
     
.custom-radio-buttons {
    background-color: #ededed;
    border: 1px solid #ededed;
    margin-bottom: 15px;
}


.user_consent {
   font-size: 12px;
   font-weight: 400;
   margin-bottom: 10px;
}

.user_consent_acceptation {
   font-size: 12px;
   font-weight: 400;
   margin-bottom: 10px;
}
.user_consent_acceptation p {
   margin: 0;
}
.form_custom_group {
   margin-bottom: 12px;
}
.highlight_link, .highlight_link:hover, .highlight_link:focus {
   color: #000;
   text-decoration: underline;

}
.image_heading {
   color: #ec6608;
   font-weight: 700;
   font-size: 50px;
   margin-bottom: 18px;  
}
.image_sub_heading {
   font-weight: 600;
   font-size: 25px;
   margin-bottom: 12px;
}
.custom-radio-buttons > div {
   display: flex;
   align-items: center;
}
.video_wrappper {
   background-size: cover;
   height: 400px;
   width: 600px;
   border: 1px solid #fff;
   margin: 0 auto;
   background-position: center center;
   background-repeat: no-repeat;
   margin-top:60px;
   margin-bottom: 30px;
}
.dot_img_wrapper img {
   width : 500px;
}
@media(max-width:991px) {
   .main_app .hero_banner {
      margin:0;
      padding: 0;
   }
   .img_conatiner {
      height: auto;
   }
}
@media(max-width:767px) {
   .video_wrappper {
      width: 500px;
      height: 300px;
   }
   .main_app .hero_banner {
      margin:0;
      padding: 0;
   }
   .register_text-block {
      top:90px;
      left: 0;
   }
   .image_heading {
      font-size: 35px;
   }
   .image_sub_heading {
      font-size: 16px;
   }
   .main_heading {
      margin-top:20px;
      text-align: center;
   }
}

@media(max-width:480px) {
   .video_wrappper {
      width: 300px;
      height: 200px;
      margin-top:30px;
   }
   .dot_img_wrapper img {
      width : 250px;
   }
   .register_text-block {
      top:65px;
      left: 0;
   }
   .image_heading {
      font-size: 22px;
      margin-bottom: 12px;
   }
   .image_sub_heading {
      font-size: 12px;
   }
   .main_heading {
      font-size: 25px;
   }
   .sub_heading {
      font-size: 16px;
      margin-bottom: 10px;
   }
   .instruction {
      font-size: 16px;
      margin-bottom: 10px;
   }
   .user_consent {
      font-size: 10px;
   }
   .user_consent_acceptation {
      font-size: 10px;
   }
}

.dark_bg {
   background-color: #000;
}

